include *.md
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include pysimplevalidate *.py
recursive-include tests *.py
