[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
tox = "*"
detox = "*"
pysimplevalidate = {editable = true,path = "."}
pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"
